// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }
// html,
// body {
//   height: 100%;
//   width: 100%;
// }

// // * {
// // outline: 1px solid red;  // See all element boundaries
// // }
// .container {
//   display: flex;
//   justify-content: center;

//   .user-input {
//     display: flex;
//     align-items: center;
//     padding: 0.3rem 1.2rem;
//     border: 1px solid rgb(191, 189, 189);
//     border-radius: 40px;
//     width: 27rem;
//     i {
//       color: gray;
//       font-size: 1.5rem;
//     }
//     .input-container {
//       width: 100%;
//       input {
//         outline: none;
//         font-size: 1rem;
//         width: 100%;
//         border: none;
//         padding-left: 0.5rem;
//         // caret-color: rgb(0, 161, 67);
//         // color: rgb(120, 115, 115);
//       }
//     }
//     button {
//       border-radius: 50%;
//       height: 2.5rem;
//       width: 2.5rem;
//       background-color: rgb(0, 161, 67);
//       flex-shrink: 0;
//       border: none;
//       i {
//         color: white;
//         font-size: 1.3rem;
//       }
//     }
//   }
// }
